<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.university_project_platform_backend.mapper.ProjectMapper">
    <select id="getStudentsProjectByStudentId"
            resultType="com.example.university_project_platform_backend.controller.dto.ProjectAddDataDTO">
        select distinct student.student_id, student_name,student_group.group_name,mentor_name, project.*
        from project,
             project_management,
             student_group,
             student,
             mentor
        where project_management.Group_id = student_group.group_id
          and project.project_id = project_management.project_id
          and student_group.group_student_id = student_id
          and mentor.mentor_id = project_management.mentor_id
          and student.student_id = #{studentId};

    </select>
    <select id="getProjectWithStudentMentorData"
            resultType="com.example.university_project_platform_backend.controller.dto.ProjectAddDataDTO">
        select project.*,
               student_group.group_id,
               student_group.group_name,
               mentor.mentor_id,
               mentor_name
        from project,
             project_management,mentor,student_group
        where project_management.project_id = project.project_id and project_management.Group_id = student_group.group_id and project_management.mentor_id = mentor.mentor_id;

    </select>
    <select id="getStudentsProjectByMentorId"
            resultType="com.example.university_project_platform_backend.controller.dto.ProjectAddDataDTO">
        select distinct mentor.mentor_id, mentor_name,student_group.group_name, project.*
        from project,
             project_management,
             mentor,
             student_group
        where project_management.mentor_id = mentor.mentor_id
          and project.project_id = project_management.project_id
          and student_group.group_id = project_management.Group_id;
          and mentor.mentor_id = #{mentorId};

    </select>
    <select id="getProjectSearchWithStudentMentorData"
            resultType="com.example.university_project_platform_backend.controller.dto.ProjectAddDataDTO">
        select distinct project.*,
                        student_group.group_id,
                        student_group.group_name,
                        mentor.mentor_id as mentor_id,
                        mentor_name
        from project,
        project_management,mentor,student_group
        where project_management.project_id = project.project_id
        and project_management.Group_id = student_group.group_id
        and project_management.mentor_id = mentor.mentor_id
        <!-- 使用动态 SQL 标签进行条件判断 -->
        <if test="projectId != null">
            and project.project_id = #{projectId}
        </if>
        <if test="projectName != null and !projectName.isEmpty()">
            and project.project_name like concat('%', #{projectName}, '%')
        </if>
        <if test="projectLevel != null">
            and project.project_level = #{projectLevel}
        </if>
        <if test="projectCredits != null">
            and project.project_credits = #{projectCredits}
        </if>
        <if test="projectBelong != null">
            and project.project_belong = #{projectBelong}
        </if>
        <if test="projectDoneStatus != null">
            and project.project_done_status = #{projectDoneStatus}
        </if>
        <if test="projectTag != null">
            and project.project_tag = #{projectTag}
        </if>
        <if test="mentorId != null">
            and project.mentor_id = #{mentorId}
        </if>
        <if test="projectScope != null and !projectScope.isEmpty()">
            and project.project_scope like concat('%', #{projectScope}, '%')
        </if>
        <if test="projectDoneStatusList != null and projectDoneStatusList.size() > 0">
            and project.project_done_status in
            <foreach item="status" index="index" collection="projectDoneStatusList" open="(" separator="," close=")">
                #{status}
            </foreach>
        </if>
    </select>
    <select id="projectShowWithData"
            resultType="com.example.university_project_platform_backend.controller.dto.ProjectAddDataDTO">
        select distinct * from project,student_group,mentor where project.mentor_id = mentor.mentor_id ;
    </select>


</mapper>
