<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.university_project_platform_backend.mapper.ProjectManagementMapper">

    <insert id="studentGroupInsertAuto" parameterType="com.example.university_project_platform_backend.entity.StudentGroup" useGeneratedKeys="true" keyProperty="groupId" >
        insert into student_group(group_name) values('待定')
    </insert>
    <insert id="studentGroupInsert" parameterType="com.example.university_project_platform_backend.entity.StudentGroup">
        insert into student_group(group_id) values(#{groupId})
    </insert>

<!--    <select id="studentGroupSelect"-->
<!--            resultType="com.example.university_project_platform_backend.entity.StudentGroup">-->
<!--        select * from student_group where group_id = #{group_id}-->
<!--    </select>-->


    <select id="projectManagementSelectByCompetitionId"
            resultType="com.example.university_project_platform_backend.controller.dto.MentorProjectDTO">
        select distinct
        competition.Competition_id as competition_id,
        competition.Competition_name as Competition_name,
        student_group.group_id as group_id,
        student_group.group_name as group_name,
        mentor.mentor_id as mentor_id,
        mentor.mentor_name as mentor_name,
        project.*
        from project_management,
        project,
        mentor,
        student_group,
        competition
        where  project.project_id = project_management.project_id
        and project_management.mentor_id = mentor.mentor_id
        and project_management.competition_id = competition.Competition_id
        and project_management.Group_id = student_group.group_id
        <!-- 使用动态 SQL 标签进行条件判断 -->
        <if test="competitionId != null">
            and project_management.competition_id = #{competitionId}
        </if>
        <if test="mentorId != null">
            project_management.mentor_id = #{mentor_id}
        </if>
        ;

    </select>
    <select id="getProjectProjectManagementDTOByProjectId"
            resultType="com.example.university_project_platform_backend.controller.dto.ProjectProjectManagementDTO">
        select project.*, project_management.*
        from project,
             project_management
        where project.project_id = project_management.project_id
        and project_management.project_id = #{projectId}
        and project_management.mentor_id = #{mentorId};
    </select>
    <select id="projectStatusSearch"
            resultType="com.example.university_project_platform_backend.controller.dto.ProjectCompetitonPMDTO">
        select distinct
        project_management.competition_id             as competition_id,
        project.*,
        project_management.project_status_id          as project_status_id,
        project_management.project_status_Description as project_status_Description,
        mentor.mentor_name                            as mentor_name
        from project,
        project_management,
        mentor
        where project.project_id = project_management.project_id
        and project.mentor_id = mentor.mentor_id
        <!-- 使用动态 SQL 标签进行条件判断 -->
        <if test="competitionId != null">
            and project_management.competition_id = #{competitionId}
        </if>
        <if test="projectDoneStatus != null">
            and project_done_status = #{projectDoneStatus}
        </if>
        <if test="projectStatusId != null">
            and project_management.project_status_id = #{projectStatusId}
        </if>
    </select>
</mapper>
