<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.university_project_platform_backend.mapper.StudentGroupMapper">

    <select id="selectMaxStudentGroupId" resultType="long">
        select max(group_id) from student_group;
    </select>
    <select id="getMentorStudentGroupByStudentAudit"
            resultType="com.example.university_project_platform_backend.entity.StudentGroup">
        select student_group.*
        from student_group,
             project_management
        where student_group.group_id = project_management.group_id
          and project_management.project_id = #{projectId}
          and student_group.group_mentor_id = #{mentorId}
          and student_group.group_id = #{groupId};
    </select>
    <select id="studentGroupShowByMentorIdWithName"
            resultType="com.example.university_project_platform_backend.controller.dto.StudentGroupWithNameDTO">
        SELECT
            mentor.mentor_name AS mentor_name,
            student.student_name AS student_name,
            student_group.*
        FROM
            student_group
                LEFT JOIN
            mentor ON mentor.mentor_id = student_group.group_mentor_id
                LEFT JOIN
            student ON student.student_id = student_group.group_student_id AND student_group.group_student_id IS NOT NULL
        WHERE
           student_group.group_mentor_id = #{mentorId};
    </select>
</mapper>
