<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.university_project_platform_backend.mapper.StudentAuditMapper">

    <select id="studentAuditIsExist"
            resultType="com.example.university_project_platform_backend.entity.StudentAudit">
        select  student_audit.*
        from
            student_audit
        where
            student_audit.group_id = #{studentAudit.groupId}
          and student_audit.project_id = #{studentAudit.projectId}
          and student_audit.student_id = #{studentAudit.studentId}
          and student_audit.mentor_id = #{studentAudit.mentorId}
          and student_audit.student_audit_status =  #{studentAuditStatus};
    </select>
    <select id="studentAuditSearchWithName"
            resultType="com.example.university_project_platform_backend.controller.dto.StudentAuditWithNameDTO">
        select distinct
        student.student_name as student_name,
        mentor.mentor_name as mentor_name,
        project.project_name as project_name,
        student_group.group_name as group_name,
        student_audit.*
        from student_audit,student,mentor,project,student_group
        where student.student_id = student_audit.student_id
        and mentor.mentor_id = student_audit.mentor_id
        and project.project_id = student_audit.project_id
        and student_group.group_id = student_audit.group_id
        <if test="studentId != null">
           AND student_audit.student_id = #{studentId}
        </if>
        <if test="mentorId != null">
            AND student_audit.mentor_id = #{mentorId}
        </if>
        <if test="projectId != null">
            AND student_audit.project_id = #{projectId}
        </if>
        <if test="groupId != null">
            AND student_audit.group_id = #{groupId}
        </if>
        <if test="studentAuditStatus != null">
            AND student_audit.student_audit_status = #{studentAuditStatus}
        </if>
    </select>
    <select id="getStudentAuditByMentorId"
            resultType="com.example.university_project_platform_backend.controller.dto.StudentAuditWithNameDTO">
        select distinct student.student_name     as student_name,
        mentor.mentor_name       as mentor_name,
        project.project_name     as project_name,
        student_group.group_name as group_name,
        student_audit.*
        from student_audit,
        student,
        mentor,
        project,
        student_group
        where student.student_id = student_audit.student_id
        and mentor.mentor_id = student_audit.mentor_id
        and project.project_id = student_audit.project_id
        and student_group.group_id = student_audit.group_id
        and student_audit.mentor_id = #{mentorId}
        <if test="studentAuditStatus != null">
            AND student_audit.student_audit_status = #{studentAuditStatus}
        </if>;
    </select>

</mapper>
